{% extends 'layouts/layout.html' %}
{% load static %} 
{% load i18n %} 

{% block content %}
<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 mb-3">{{ event.title }}</h1>
      <!--================ Tags =================-->
      <p>{{ event.tags.all|join:'   ' }}</p>
      <h3 class="display-9">{{ event.date }}</h3>
      <!--================ Description =================-->
      <p class="lead">
        <br>
        {{ event.description }}
      </p>
    </div>
    <!--================ Thumbnail =================-->
    {% if event.event_image.image %}
      <div class="col-lg-4 offset-lg-1 p-0 mb-4 overflow-hidden">
        <img class="rounded-3" src={{ event.event_image.get_image_300x300.url }} alt="..."/>
      </div>
    {% endif %}
    <!--================ Comment List =================-->
    <hr class="hr">
    <div id="comments">
      {% for comment in comments %}
        <div class="card mb-4">
          <div class="card-body">
            <p>{{ comment.message }}</p>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img src="{{ comment.author.avatar.get_image_300x300.url }}" class="rounded-circle" alt="avatar" width="40" height="40">
                <p class="small mb-0 ms-2">{{ comment.author.username }}</p>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center mb-3">{% translate "No comments here yet... Be the first one to comment!" %}</p>
      {% endfor %}
    </div>
    <!--================ Comment Form =================-->
    {% if user.is_authenticated %}
      <form class="basic-form" method="post" enctype="multipart/form-data">
        {% include 'include/form.html' %}
        <div class="row justify-content-center text-center">
          <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-send" value="{% translate "Post" %}">
          </div>
        </div>
      </form>
    {% else %}
      <hr class="hr">
      <p class="text-center text-muted"><i>{% translate "You can post comments only if you are authenticated" %}</i></p>
    {% endif %}
  </div>
</div>
{% endblock %}