{% extends 'layouts/layout.html' %}
{% load static %} {% load i18n %}
{% block content %}

<div class="events mx-auto col-9">
  <div class="events__search mx-auto col-12 row">
    <form action="" method="get">
      <div class="row">
        {% for field in filter.form %}
        <div class="col-md-3 m-4">
          <div class="form-group">
            <label class="d-block" for="{{ field.id_for_label }}">
              {{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <div class="help-block with-errors text-danger">
              {{ error|safe }}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row justify-content-around">
        <button class="btn events__search-btn d-block col-6" type="submit">
          {% translate "Search" %}
        </button>
       {% if user.is_authenticated %}
        <a class="btn events__create-btn d-block col-3" type="submit" href="{% url 'events:create_event' %}">{% translate 'Create event' %}
       {% endif %}
        </a>
      </div>
    </form>
  </div>
  <div class="events__events-list d-flex flex-wrap justify-content-around col-12">
    {% for event in page_obj.object_list %}
    <div class="card event-card">
      <img class="card-img-top"
        src="{% if event.event_image.get_image_300x300.url %} {{event.event_image.get_image_300x300.url}} {% else %} {% static 'img/users/avatars-default.jpg' %} {% endif %} "
        alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title"><a class="event-card__link" href="{% url 'events:detail' id=event.id %}">
            {{ event.title }}
          </a>
        </h5>

        <div class="d-flex align-items-start flex-column" style="height:80%;">
          <div class="card-text event-card__description col-12 mb-auto">{{event.description|safe|truncatewords_html:20}}</div>
          <div class="row w-100">
            <a href="{% url 'events:detail' id=event.id %}" class="btn btn-green w-50 d-block">{% translate 'Learn more' %} </a>
            {% if event.organizer.id != user.id %}
            <form action="{% url 'events:add_members' %}" method="post" class="w-50 ">{% csrf_token %}<input name="event_id" type="hidden" value="{{ event.id }}"><button class="btn btn-green d-block" type="submit">{% if request.user not in event.members.all %}{% translate 'Take part' %}{% else %}{% translate 'Don\'t take part' %}{% endif %}</button></form>
            {% endif %}
          </div>
        </div>
        </div>
       
    </div>
    {% endfor %}
  </div>

  {% if page_obj.has_next or page_obj.has_previous %}
  <nav class="col-12 events__pagination-nav d-flex justify-content-center" aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_other_pages %}
      <li class="page-item">
        <a class="page-link"
          href="{% url 'events:events_list' %}?page={{page_obj.has_other_pages}}">{% translate "Previous" %}</a>
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="{% url 'events:events_list' %}?page=1">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'events:events_list' %}?page={{page_obj.number}}"
          disabled>{{page_obj.number}}</a>
      </li>
      <li class="page-item">
        <a class="page-link"
          href="{% url 'events:events_list' %}?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="{% url 'events:events_list' %}?page={{page_obj.next_page_number}}">{% translate "Next" %}</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% endif %}
</div>
{% endblock content %}