{% extends 'layouts/layout.html' %}

{% load i18n %}
{% load static %}


{% block content %}
<div class="text-center ms-3 me-3 d-flex flex-column align-items-center">
    <h2>{% translate "About us" %}</h2>
    <p>
        {% translate  "Our company was started in 2023 as a startup to help people get together and spend time with other people who have similar interests." %}
    </p>

    <div class="col-8">
        {% translate  "On our project, you can create events for users according to their interests. For registering at your event, you will receive coins, which you can later exchange on your profile page. Users for participation are also credited with coins, the number of which can also be seen in the profile. If you have ideas to improve our functionality, please send us feedback via email. Events and tags are moderated. Therefore, when you create your event, it will not immediately appear in the list of events. We care about the safety of our users, so everything goes through the moderators." %}
    </div>
</div>
{% endblock %}