{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-lg"  id="navbar_id">
    <div class="logo-bg ">
      <img class="logo-img" src={% static 'img/people-logo.png' %} >
    </div>
    <div class="navbar-brand">f</div>
    <button class="navbar-toggler  navbar__menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link navbar__nav-link" href="{% url 'homepage:main' %}">
            {% translate 'Home' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar__nav-link" href="{% url 'events:events_list' %}">
            {% translate 'Events' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar__nav-link" href="{% url 'map:map' %}">
            {% translate 'Maps' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar__nav-link" href="{% url 'about:about' %}">
            {% translate 'About' %}
          </a>
        </li>
      </ul>
        <a class="btn navbar__auth-btn" href="#">{% translate 'Authorization' %} </a>
    </div>

</nav>
