{% extends 'layouts/layout.html' %} 
{% load static %} 
{% load i18n %} 
{% block content %}

<div id="map" style="width: 600px; height: 400px"></div>
  <script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.76, 37.64],
            zoom: 7
        });
    }
</script>
{% endblock content %}
