{% extends 'layouts/base.html' %}
{% load static %} 
{% load i18n %} 

{% block content %}
<div class="info__text-style">
  <div class="info">
    <div class="info__content">
      <img class="img-fluid info__bg-img" src={% static 'img/forest_bg.png' %} >

      <div class="info__list-items">
        <div class="info__item__welcome">
          <div class="mx-auto info__eventbe">
            <img src={% static 'img/eventbe.png' %}>
          </div>

          <div class="info__item__welcome2 text-center">
            <div class="info__text-welcome">
              место самых<br>
              интересных встреч
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="info__content">
      <img class="img-fluid info__bg-img" src={% static 'img/forest_bg.png' %} >

      <div class="info__list-items">
        <div class="info__item__high-img d-flex justify-content-center align-items-center">
          <img class="" src={% static 'img/catcat-logo.png' %} >
        </div>
        <div class="info__item__about">
          <p class="info__text-about text-center">
            Мы помогаем ))) нужным друг другу людям встретиться в правильной
            обстановке
          </p>

          <a class="info__item__about2"  href="{% url 'about:about' %}">
            <div class="info__more-info d-flex justify-content-around" >
              <div class="d-inline"> Узнать больше</div>
              <div class=" d-inline">
                <img class="info__img-arrow" src={% static 'img/arrow12.png' %} >
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="info">
    <div class="info__content">
      <img class="img-fluid info__bg-img" src={% static 'img/forest_bg.png' %} >

      <div class="info__list-items">
        <div class="info__item__about">
          <p class="info__text-about text-center">
            Мы уверены что в списке событий найдется что-то для вас ;)
          </p>

          <a class="info__item__about2 info__text-style" href="{% url 'events:events_list' %}">
            <div class="info__more-info d-flex justify-content-around">
              <div class="d-inline"> к событиям </div>
              <div class="d-inline">
                <img class="info__img-arrow" src={% static 'img/arrow12.png' %} >
              </div>
            </div>
          </a>
          </div>
       
        
        <div class="info__item__high-img d-flex justify-content-center align-items-center">
          <img class="" src={% static 'img/frog.png' %} >
        </div>

      </div>
    </div>
  </div>

</div>

{% endblock content %}
