{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{% translate 'Password change'%}</title>
{% endblock %}

{% block content %}
<section class="mb-3">
  <div class="container">
    <h1 class="text-center">
      {% translate 'Сhange password'%}
    </h1>
  </div>
</section>
<!--================ Start Blog Post Area =================-->
<div class="blog-post-area section-margin mt-4">
  <div class="container">
    <section class="row">
      <div class="col-lg-12">
        <form class="basic-form mb-1" method="post" role="form">
          {% csrf_token %}
          <div class="text-center text-danger m-3">{{ form.non_field_errors }}</div>
          <div class="controls text-center">
            {% include 'include/form.html' %}
            <div class="row justify-content-center">
              <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send" value="{% translate 'Send'%}"> </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
{% endblock %}