{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{% translate 'User'%} {{current_user.username}}</title>
{% endblock %}

{% block content %}

<div class="container rounded bg-white mb-1">
  <h1 class="text-center mb-5 border-bottom">{% translate 'Profile user'%}</h1>
  <div class="row justify-content-center">
    <div class="col-6 p-3">
      <div class="m-3 text-center"><img class="card-img" src="{% if current_user.profile.image %} {{current_user.profile.get_image_300x300.url}} {% else %} {% static 'img/plug.jpg' %}{% endif %}" alt="">
      </div>
      <div class="text-center">
        <h2>{% translate 'Username'%} - <span>{{current_user.username}}</span></h2>
      </div>
      <div class="row flex-nowrap mb-1">
        <div class="text-center col-6 border">
        <h2>{% translate 'First name'%}</h2>
        {% if current_user.first_name %} {{current_user.first_name}} {% else %} <p class="no-info">no information</p> {% endif %}
        </div>
        <div class="text-center col-6 border">
          <h2>{% translate 'Last name'%}</h2>
          {% if current_user.last_name %} {{current_user.last_name}} {% else %} <p class="no-info">no information</p> {% endif %}
        </div>
      </div>
      <div class="row flex-nowrap mb-1">
        <div class="text-center col-6 border">
        <h2>Email</h2>
        {% if current_user.email %} {{current_user.email}} {% else %} <p class="no-info">no information</p> {% endif %}
        </div>
        <div class="text-center col-6 border">
          <h2>{% translate 'Coffee count'%}</h2>
          {% if current_user.profile.coffee_count %} {{current_user.profile.coffee_count}} {% else %} <p class="no-info">no information</p> {% endif %}
        </div>
      </div>
      <div class="row flex-nowrap mb-1 justify-content-center">
        <div class="text-center col-6 border">
        <h2>{% translate 'Birthday'%}</h2>
        {% if current_user.profile.birthday %} {{current_user.profile.birthday}} {% else %} <p class="no-info">no information</p> {% endif %}
        </div>
      </div>
      <div class="row justify-content-center m-2">
        <h2 class="text-center"><a href="{% url 'statistic:user_detail_statistics' id=user.id%}">{% translate 'User ratings'%}</a></h2>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
<!--================ Start Blog Post Area =================-->
{% endblock %}